body   {
   
    margin: 0;
    font-family: 'Lato', sans-serif;

}


.header
{
 position: absolute;
    width: 100%;

}



.back{
    background: url("../css/images/image1.jpg"), linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    background-blend-mode: overlay;
    background-size: cover;
  
width: 1440px;
height: 782px;

    width: 100%;
    height: 100vh;

}
.header_letter{
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;

    line-height: 22px;
    width: 136px;
height: 22px;
left: 311px;
top: 80px;
display: flex;
position: absolute;
align-items: center;
}
.header_nav{
    font-size: 18px;
    line-height: 16.8px;
    display: flex;
    position: absolute;
width: 700px;
height: 22px;
left: 650px;
top: 80px;
align-items: center;

font-style: normal;

    }
    .nav_link   {
        display:inline-flex;
        margin: 0 10px;
        text-decoration: none;
        color: #FFFFFF;
    }


.intro_title
{
    position: absolute;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-style: normal;
font-weight: bold;
    font-size: 88px;
    line-height: 86px;
    width: 700px;
height: 86px;
left: 600px;
top:295px;
letter-spacing: 0.07em;

color: #FFFFFF;
}    
.intro_suptitle {
   
    position: absolute;
    width: 680px;
    height: 224px;
    left: 650px;
    top: 482px;
    
    font-style:normal;
    font-weight: 100;
    font-size: 34px;
    line-height: 42px;
    
    text-align: center;
    color: #FFFFFF;

}
.btn_signup{
    position: absolute;
    display: inline-block;
    text-decoration: none;
    background:#FFFFFF;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    font-size: 17px;
line-height: 17px;
color: #ED4C5C;
width: 160px;
height: 50px;
top: 700px;
padding-top: 17px;
left: 900px;
border-radius: 6px;
font-weight: 600;
box-sizing: border-box;





}
.header_logo{
    width: 24px;
    height: 17.4px;
    top: 81px;
    left: 280px;
    position: absolute;
    margin: 0 auto;
}
.btn_login
{
    text-align: center;
    align-items: center;
    display: inline-block;
    font-size: 15px;
line-height: 17px;
padding:10px;
font-weight: normal;
    position: absolute;
    
  left: 920px;
 height: 40px;
 width: 110px;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 6px;
text-decoration: none;
color: #FFFFFF;
text-transform: uppercase;


}
.flag{
    position: absolute;



height: 33px;
left: 1410px;
top: 77px;

}
.header_en{
 position: absolute;
 margin: 0;
 color:#FFFFFF;
 text-transform: uppercase;
 left: 1455px;
top: 85px;
font-size: 15px;
font-style: normal;
}
.btn_nav{
    position: absolute;
 margin: 0;
 color:#FFFFFF;
 left: 1490px;
 top: 85px;

}
.section{
    width: 1440px;
height: 500px;
}

.section_title{
    position: absolute;
    padding: 140px 165px;

    width: 445px;
height: 107px;
left: 205px;
top: 922px;
font-weight: 600;
font-size: 35px;
line-height: 43px;
}
.section_text {
    position: absolute;
    padding: 164px 205px;

    color: black;
    width: 460px;
height: 115px;
left: 165px;
top: 1053px;
font-size: 14px;
line-height: 20px;
}
.learn_more{
    padding: 99px 205px;
    position: absolute;
    left: 165px;
    top: 1234px;
    text-decoration: none;
    color: #ED4C5C;
    font-size: 14px;
line-height: 140%;
}
.bg{
   background:url("../css/images/Video_bg.png"), #C4C4C4;
   background-size: cover;
   border-radius: 15px;
   padding-top: 94px;
   position: absolute;
width: 445px;
height: 211px;
left: 990px;
top: 1055px;

}
.btn_circle{
    position: absolute;
    width: 66px;
height: 66px;
left: 958px;
top: 1179px;
}
.btn_solid {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 988px;
    top: 1205px;

}
.section_features{
 
width: 1440px;
height: 660px;


background: #FAFAFA;}

.features{
    position: absolute;
    width: 1110px;
height: 55px;
left: 165px;
font-weight: bold;
font-size: 36px;
line-height: 43px;
text-align: center;
padding: 63px 265px;
}
.img1{
  padding: 221px 235px;
    border-radius: 8px;
    position: absolute;
    width: 350px;
    height: 250px;
    left: 165px;
    top: 1463px;
}
.img2{
    padding: 221px 265px;
    position: absolute;
width: 350px;
height: 250px;
left: 545px;
top: 1463px;
border-radius: 8px;

}
.img3{
    width: 350px;
height: 250px;
left: 925px;
top: 1463px;
    position: absolute;
    padding:221px 295px
}
.img_block1 {
    position: absolute;
width: 293px;
height: 198px;
left: 425px;
top: 1835px;

background: #FFFFFF;
box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
border-radius: 8px;
}
.support{
    padding:5px 32px;
    
    text-align: center;
    position: absolute;
    font-size: 17px;
font-weight: bold;
line-height: 22px;
width: 229px;
height: 40px;
left: 425px;
top: 1830px;

}
.support_suptext{
    color: #101010;
    position: absolute;
width: 229px;
height: 57px;
    font-size: 12px;
line-height: 150%;
text-align: center;
left: 450px;
top: 1911px;

}
.support_read{
    position: absolute;
    text-align: center;
    color: #ED4C5C;
    font-size: 12px;
line-height: 150%;
text-decoration: none;
left: 435px;
top:1980px;
width: 253px;
height: 18px;
}
.img_block2{
    position: absolute;
    background: #FFFFFF;
box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
border-radius: 8px;

left: 835px;
top: 1835px;
width: 293px;
height: 198px;
}
.manage{
    text-align: center;
    position: absolute;
width: 229px;
height: 40px;
top: 1815px;
left: 835px;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;
padding:5px 32px;


color: #101010;
}
.manage_suptext  {
    color: #101010;
    position: absolute;
width: 229px;
height: 57px;
    font-size: 12px;
line-height: 150%;
text-align: center;
top: 1911px;
left: 866px;

}
.manage_read{
    position: absolute;
    text-align: center;
    color: #ED4C5C;
    font-size: 12px;
line-height: 150%;
text-decoration: none;
width: 253px;
height: 18px;
top:1980px;

left: 855px;
}
.img_block3{
    position: absolute;
    background: #FFFFFF;
box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
border-radius: 8px;
width: 293px;
height: 198px;
left: 1250px;
top: 1835px;
}
.cloud{
    position: absolute;
width: 229px;
height: 40px;
font-weight: bold;
font-size: 17px;
line-height: 22px;
text-align: center;
left: 1250px;
top: 1830px;
padding:33px 32px;

color: #101010;

}
.cloud_suptext{
    color: #101010;
    position: absolute;
width: 229px;
height: 57px;
    font-size: 12px;
line-height: 150%;
text-align: center;
top: 1911px;
right: 390px;

color: #101010;
}
.cloud_read{
    position: absolute;
    text-align: center;
    color: #ED4C5C;
    font-size: 12px;
line-height: 150%;
text-decoration: none;
width: 253px;
height: 18px;
top:1980px;
right: 380px;

}
.tech {
  
    width: 1440px;
    height: 500px;
}
.header_tech{
    margin:63px 265px 382px 265px;
    width: 1110px;
height: 55px;
left: 165px;
position: absolute;
font-weight: 600;
font-size: 36px;
line-height: 43px;
text-align: center;
color: #000000;

}
.tech_block{
    margin-top: 170px;
    margin-left: 265px;
    margin-right: 265px;
    margin-bottom: 104px;
    position: absolute;
    left: 165px;
width: 1110px;
height: 226px;
display: flex;

}
.cloud_block    {
width: 255px;
height: 226px;
padding-left: 15px;
padding-right: 15px;
text-align: center;
}
.tech1  {
    padding: 59px 88px 87px 87px;

}
.tech1_text {
    position: absolute;
    left: 85px;
    top: 130px;
width: 123px;
font-weight: bold;
height: 22px;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #101010;
margin-bottom: 10px;
padding-top: 19px;

}
.tech1_suptext  {   
    width: 211px;
height: 51px;
font-size: 13px;
line-height: 14px;
text-align: center;
left: 40px;
top: 176px;
color: #000000;
position: absolute;
padding-top: 10px;
padding-bottom: 4px;
}
.secure_block    {
    width: 255px;
    height: 226px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    
    }
.tech2 {

    padding: 74px 95px 95px 94px;
}
.tech2_text {
    width: 55px;
height: 22px;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;
position: absolute;
padding-top: 19px;
left: 390px;
top: 130px;
color: #101010;
}
.tech2_suptext  {
    width: 191px;
height: 51px;
font-size: 12px;
line-height: 14px;
text-align: center;
position: absolute;
top: 177px;
left: 325px;
color: #000000;
padding-top: 10px;
}
.pdf_block    {
    padding-left: 15px;
    padding-right: 15px;
    width: 255px;
    height: 226px;
 
    text-align: center;
    
}
.tech3  {
    padding: 69px 103px 103px 104px;
}
.tech3_text {
    width: 122px;
height: 22px;
font-weight: bold;
font-size: 17px;
line-height: 22px;
text-align: center;
color: #101010;
position: absolute;
left: 645px;
top: 150px;
}
.tech3_suptext  {
    width: 191px;
height: 51px;
font-size: 12px;
line-height: 14px;
text-align: center;
position: absolute;
color: #000000;
top: 178px;
left: 610px;
padding-top: 10px;
}
.csv_block    {
    width: 255px;
    height: 226px;
    padding-left: 15px;
    padding-right: 15px;

    text-align: center;
}
.tech4  {   
    width: 47px;
    height: 53px;
    padding: 80px 104px 102px 104px;
} 
.tech4_text {   
    position: absolute;
    width: 121px;
height: 22px;
font-weight: bold;
font-size: 17px;
line-height: 22px;
text-align: center;
color: #101010;
left: 915px;
top: 150px;
}
.tech4_suptext  {
    position: absolute;
width: 191px;
height: 51px;
font-size: 12px;
line-height: 14px;
text-align: center;
top: 178px;
left: 890px;
color: #000000;
padding-top: 10px;

}
.stay_focused   {   
    width: 1440px;
height: 500px;
background: #ED4C5C;
width: 100%;
}
.slider {   
  margin-top: 94px;
  margin-left:1111px;
  width: 533px;
height: 311px;
}
.stay_block {   
width: 445px;
height: 195px;

position: absolute;
left: 390px;
top: 2764px;
}
.stay_text  {
    width: 445px;
height: 107px;
font-weight: 600;
font-size: 36px;
line-height: 43px;

color: #FFFFFF;
}
.stay_suptext   {
    width: 445px;
height: 64px;
font-size: 14px;
line-height: 140%;
text-align: justify;
color: #FFFFFF;
padding-top: 24px;
}
.contact    {
    max-width: 1440px;
    height: 500px;

}
.contact_block   {
    position: absolute;
    width: 445px;
height: 160px;
left: 390px;
top: 3259px;

}
.contact_text   {
    font-weight: 600;
font-size: 36px;
line-height: 43px;
width: 445px;
height: 107px;
color: #000000;
}
.contact_suptext    {
    position: absolute;
width: 434px;
height: 64px;
font-size: 14px;
line-height: 140%;
text-align: justify;

color: #000000;
}
.reg_container  {
    display: flex;
    flex-wrap: wrap;
max-width: 540px;
width: 100%;
height: 305px;

position: absolute;
left: 1135px;
top: 3259px;



}
.reg_container form	{	
display: flex;
flex-wrap: wrap;
}

.first_name input {
padding-left: 31px;   
border: 1px solid #333333;
box-sizing: border-box;	
border-radius: 6px;
font-size: 16px;
line-height: 19px;
width: 255px;
height: 60px;
margin-bottom: 24px;
margin-right: 30px;
color: rgba(19, 39, 67, 0.5);

}
.last_name input {   
padding-left: 31px;   
border: 1px solid #333333;
box-sizing: border-box;	
border-radius: 6px;
font-size: 16px;
line-height: 19px;
width: 255px;
height: 60px;
color: rgba(19, 39, 67, 0.5);



}
.phone	input{
font-size: 16px;
line-height: 19px;

color: rgba(19, 39, 67, 0.5);
padding-left: 31px;
border: 1px solid #333333;
box-sizing: border-box;
border-radius: 6px;
width: 540px;
height: 60px;
}
.select_service select	{
margin-top: 24px;
padding-left: 31px;
font-size: 16px;
line-height: 19px;
color: rgba(19, 39, 67, 0.5);
width: 540px;
height: 60px;
border: 1px solid #333333;
box-sizing: border-box;
border-radius: 6px;
}

.submit  {
margin-top: 27px;
text-align: center;
width: 160px;
height: 50px;
background: #ED4C5C;
border: 1.5px solid #ED4C5C;
text-transform: uppercase;
border-radius: 6px;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
cursor: pointer;
}
footer  {
   
    width: 1440px;
    width: 100%;
    height: 435px;
    background: lightblue;
}
.footer_content {
    display: flex;
}

.footer_address  {   
    padding-top: 85px;
padding-left: 405px;
    width: 259px;
height: 264px;
}
.address    {
    padding-bottom: 33px;

    width: 65px;
height: 22px;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #101010;

}
.footer_addtext    {
    width: 254px;
height: 54px;
font-size: 12px;
line-height: 150%;
color: #101010;
padding-top: 33px;
padding-bottom: 141px;
}
.footer_addsuptext {
    width: 155px;
    height: 14px;
font-size: 12px;
line-height: 14px;

color: #101010;
}
.footer_services    {
    padding-left: 219px;
   padding-top: 85px;
    width: 254px;
height: 164px;
}
.services   { 
    width: 67px;
height: 22px;
    font-weight: bold;
font-size: 18px;
line-height: 22px;
color: #101010;
padding-bottom: 28px;
 }
.footer_nav {
    padding-top: 33px;
    width: 254px;
    height: 114px;
}
.footer_nav_link{   
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
line-height: 160%;
text-decoration: none;
text-transform: capitalize;
color: #000000;
}
.footer_get {
    width: 122px;
height: 128px;
padding-left: 30px;
padding-top: 85px;
}
.get    {
    font-weight: bold;
font-size: 18px;
line-height: 22px;
width: 101px;
height: 22px;
text-align: center;
color: #101010;
}
.footer_gettext {
    padding-top: 33px;
    font-size: 12px;
line-height: 14px;
width: 122px;
height: 14px;
color: #101010;
}
.footer_getsuptext  {
    font-size: 12px;
line-height: 14px;
width: 96px;
height: 14px;
padding-top: 11px;
color: #121212;
}
.soc1   {
    padding-top: 21px;
    padding-right: 21px;
}
.soc2   {
    padding-top: 21px;
    padding-right: 13px;
}
.footer_we  {
    padding-top: 85px;
    padding-left: 166px;
    width: 96px;
height: 22px;
width: 216px;
height: 31px;
}
.we{    
    width: 96px;
height: 22px;
font-weight: bold;
font-size: 18px;
line-height: 22px;
padding-top: 85px;
color: #101010;
}
.cards  {
    padding-top: 33px;
    width: 216px;
height: 31px;
}